@import "@fontsource/poppins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: "poppins";
}

.profile-image {
  mask-image: linear-gradient(black 1%, transparent 99%);
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: #f2e2ec;
}

body::-webkit-scrollbar-thumb {
  background-color: #cb81af;
  border-radius: 6px;
  border: 1px solid #7e2b7a;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #802567;
}
